---
layout: book
---

<div class="single">

  <h1>
  <br />  <br />
  Society for Creative Anachronism, Inc.
  <br />  <br />  <br />  <br />
  Society Webminister’s Handbook
  <br />  <br />  <br />  <br />
  DRAFT - DO NOT USE
  <br />  <br />  <br />  <br />  <br />  <br />  <br />
  </h1>

  <p>
    Society Webminister's Handbook - as of {{ site.time | date: '%Y-%m-%d' }}<br>
    Built from <a href="https://gitlab.com/sca-drachenwald/web-handbook">https://gitlab.com/sca-drachenwald/web-handbook</a>.
  </p>
  <p>
    © Copyright 2011–{{ site.time | date: '%Y' }} — The Society for Creative Anachronism, Inc. All Rights Reserved. Printed copies of this document can be ordered from SCA Marketplace, PO Box 360789, Milpitas, CA 95036-0789
  </p>
  
  <p>
    Members of the Society for Creative Anachronism, Inc. may photocopy this work in whole or in part for SCA use provided copyright credit is given and no changes are made to the text. The contents of this document will be posted at <a href="http://www.sca.org">www.sca.org</a> and further reproduction on other Internet sites is expressly forbidden.
  </p>

</div>

<div class="single">

  <h1>
    Table of Contents
  </h1>

  <h2>
    Chapters
  </h2>

  <ol>
    {% for chapter in site.chapters %}
      <li><a href="#{{ chapter.title | slugify }}">{{ chapter.title }}</a></li>
    {% endfor %}
  </ol>

  <h2>
    Appendices
  </h2>

  <ol>
    {% for appendix in site.appendices %}
      <li><a href="#appendix-{{ appendix.title | slugify }}">{{ appendix.title }}</a></li>
    {% endfor %}
  </ol>

</div>

{% for chapter in site.chapters %}

  <div class="single">

    <a name="{{ chapter.title | slugify }}"></a>
    <h1>
      Chapter {{ forloop.index }}
    </h1>
    <h1>
      {{ chapter.title }}
    </h1>

    {{ chapter.content | markdownify }}

  </div>

{% endfor %}

{% for appendix in site.appendices %}

  <div class="single">

    <a name="appendix-{{ appendix.title | slugify }}"></a>
    <h1>
      Appendix {{ forloop.index }}
    </h1>
    <h1>
      {{ appendix.title }}
    </h1>

    {{ appendix.content | markdownify }}

  </div>

{% endfor %}